-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: trackingsystem
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_log` (
  `logID` int(11) NOT NULL AUTO_INCREMENT,
  `userID` int(11) NOT NULL,
  `role` varchar(255) NOT NULL,
  `action` varchar(255) NOT NULL,
  `module` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `target_type` varchar(255) DEFAULT NULL,
  `target_id` varchar(50) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`logID`),
  KEY `userID` (`userID`),
  KEY `target_type` (`target_type`),
  KEY `target_id` (`target_id`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=509 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_logs`
--

DROP TABLE IF EXISTS `attendance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_logs` (
  `attendanceID` int(11) NOT NULL AUTO_INCREMENT,
  `studentID` varchar(20) NOT NULL,
  `rfid_uid` varchar(50) DEFAULT NULL,
  `log_date` date NOT NULL,
  `first_time_in` datetime DEFAULT NULL,
  `lunch_break_out` datetime DEFAULT NULL,
  `lunch_break_in` datetime DEFAULT NULL,
  `snack_break_out` datetime DEFAULT NULL,
  `snack_break_in` datetime DEFAULT NULL,
  `final_time_out` datetime DEFAULT NULL,
  `status` enum('present','late','absent','excused','voided','incomplete') DEFAULT 'present',
  `late_minutes` int(11) DEFAULT 0,
  `total_hours` decimal(5,2) DEFAULT 0.00,
  `remarks` text DEFAULT NULL,
  `action_log` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `current_state` enum('WORKING','LUNCH_BREAK','SNACK_BREAK','TIMED_OUT','VOIDED','INCOMPLETE') DEFAULT 'WORKING',
  `emergency_timeout` tinyint(1) DEFAULT 0,
  `emergency_reason` text DEFAULT NULL,
  PRIMARY KEY (`attendanceID`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_logs`
--

LOCK TABLES `attendance_logs` WRITE;
/*!40000 ALTER TABLE `attendance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_settings`
--

DROP TABLE IF EXISTS `attendance_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` varchar(255) NOT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_settings`
--

LOCK TABLES `attendance_settings` WRITE;
/*!40000 ALTER TABLE `attendance_settings` DISABLE KEYS */;
INSERT INTO `attendance_settings` VALUES ('afternoon_time_in','13:00:00'),('afternoon_time_out','17:00:00'),('late_threshold_minutes','15'),('late_time','10:55:00'),('lunch_break_minutes','60'),('max_hours_per_day','8'),('minimum_break_minutes','5'),('minimum_work_minutes','5'),('morning_time_in','10:53:00'),('morning_time_out','11:00:00'),('rfid_enabled','1'),('snack_break_minutes','15');
/*!40000 ALTER TABLE `attendance_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_settings`
--

DROP TABLE IF EXISTS `evaluation_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_settings` (
  `settingID` int(11) NOT NULL AUTO_INCREMENT,
  `superID` int(11) DEFAULT NULL,
  `attendance_weight` decimal(5,2) DEFAULT 0.20,
  `progress_weight` decimal(5,2) DEFAULT 0.30,
  `task_weight` decimal(5,2) DEFAULT 0.50,
  `date_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`settingID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_settings`
--

LOCK TABLES `evaluation_settings` WRITE;
/*!40000 ALTER TABLE `evaluation_settings` DISABLE KEYS */;
INSERT INTO `evaluation_settings` VALUES (1,NULL,0.40,0.10,0.50,'2026-05-02 02:31:08');
/*!40000 ALTER TABLE `evaluation_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `final_evaluation`
--

DROP TABLE IF EXISTS `final_evaluation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `final_evaluation` (
  `evaluationID` int(11) NOT NULL AUTO_INCREMENT,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `attendance_score` decimal(5,2) NOT NULL,
  `progress_score` decimal(5,2) NOT NULL,
  `task_score` decimal(5,2) NOT NULL,
  `final_score` decimal(5,2) NOT NULL,
  `ethics_rating` int(11) NOT NULL,
  `communication_rating` int(11) NOT NULL,
  `initiative_rating` int(11) NOT NULL,
  `discipline_rating` int(11) NOT NULL,
  `final_recommendation` varchar(50) NOT NULL,
  `final_remarks` text NOT NULL,
  `recommendation_title` varchar(100) NOT NULL,
  `recommendation_text` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('INCOMPLETE','FINALIZED') DEFAULT 'INCOMPLETE',
  PRIMARY KEY (`evaluationID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `final_evaluation`
--

LOCK TABLES `final_evaluation` WRITE;
/*!40000 ALTER TABLE `final_evaluation` DISABLE KEYS */;
/*!40000 ALTER TABLE `final_evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_stages`
--

DROP TABLE IF EXISTS `internship_stages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `internship_stages` (
  `stageID` int(11) NOT NULL AUTO_INCREMENT,
  `studentID` varchar(20) NOT NULL,
  `stage_name` enum('ORIENTATION','BASIC_TRAINING','SKILL_DEVELOPMENT','ACTIVE_DEPLOYMENT','FINAL_PHASE') NOT NULL,
  `min_hours` int(11) NOT NULL,
  `max_hours` int(11) NOT NULL,
  `status` enum('LOCKED','IN_PROGRESS','COMPLETED') DEFAULT 'LOCKED',
  `date_started` datetime DEFAULT NULL,
  `date_completed` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`stageID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_stages`
--

LOCK TABLES `internship_stages` WRITE;
/*!40000 ALTER TABLE `internship_stages` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship_stages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `ip_address` varchar(100) DEFAULT NULL,
  `attempts` int(11) DEFAULT 0,
  `last_attempt` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
INSERT INTO `login_attempts` VALUES (1,'admin@granby.edu','::1',5,'2026-05-18 18:55:57');
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notificationID` int(11) NOT NULL,
  `userID` varchar(20) NOT NULL,
  `title` varchar(100) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `is_read` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notificationID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'12345','Final Evaluation Released','Your OJT final evaluation has been completed by your supervisor.','EVALUATION',0,'2026-05-22 19:48:22');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ojt_settings`
--

DROP TABLE IF EXISTS `ojt_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ojt_settings` (
  `settingID` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `semester` varchar(20) DEFAULT NULL,
  `required_hours` int(11) NOT NULL DEFAULT 500,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  PRIMARY KEY (`settingID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ojt_settings`
--

LOCK TABLES `ojt_settings` WRITE;
/*!40000 ALTER TABLE `ojt_settings` DISABLE KEYS */;
INSERT INTO `ojt_settings` VALUES (1,'2026-2027',NULL,500,'2026-05-01','2027-02-14','2026-04-28 07:58:24','INACTIVE'),(2,'2026-2027',NULL,600,'2026-12-30','2027-02-12','2026-04-28 08:03:26','INACTIVE'),(3,'2026-2027',NULL,700,'2026-12-30','2027-02-04','2026-04-28 08:05:04','ACTIVE'),(4,'2026-2027',NULL,700,'0000-00-00','0000-00-00','2026-05-12 14:41:21','INACTIVE');
/*!40000 ALTER TABLE `ojt_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ojtstudent`
--

DROP TABLE IF EXISTS `ojtstudent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ojtstudent` (
  `studentID` varchar(20) NOT NULL,
  `email` varchar(255) NOT NULL,
  `birthDate` date NOT NULL,
  `mobileNumber` varchar(11) NOT NULL,
  `gender` varchar(20) NOT NULL,
  `course` varchar(255) NOT NULL,
  `yearLevel` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `address` varchar(255) NOT NULL DEFAULT 'Naic',
  `semester` varchar(50) NOT NULL,
  `schoolYear` varchar(50) NOT NULL,
  PRIMARY KEY (`studentID`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ojtstudent`
--

LOCK TABLES `ojtstudent` WRITE;
/*!40000 ALTER TABLE `ojtstudent` DISABLE KEYS */;
/*!40000 ALTER TABLE `ojtstudent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program`
--

DROP TABLE IF EXISTS `program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program` (
  `program_id` int(11) NOT NULL,
  `prg_name` varchar(155) NOT NULL,
  `prg_acro` varchar(20) NOT NULL,
  `prg_department` varchar(255) NOT NULL,
  `prg_department_code` varchar(20) NOT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  PRIMARY KEY (`program_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program`
--

LOCK TABLES `program` WRITE;
/*!40000 ALTER TABLE `program` DISABLE KEYS */;
INSERT INTO `program` VALUES (1,'Bachelor of Science in Information Technology','BSIT','College Of Informations','COI','ACTIVE'),(2,'Bachelor of Science in Criminology','BSCrim','College of Criminal Justice','CCJ','ACTIVE'),(3,'Bachelor of Science and Communication Research','BSCR','aokdsk','asd','INACTIVE'),(4,'Bachelor of Science in Computer Science','BSCS','College of Informatics','CoI','ACTIVE');
/*!40000 ALTER TABLE `program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirements`
--

DROP TABLE IF EXISTS `requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirements` (
  `requirement_id` int(11) NOT NULL,
  `requirement_name` varchar(255) NOT NULL,
  `requirement_type` enum('DOCUMENT','FORM','REPORT','OTHER') NOT NULL,
  `stage` enum('PRE-OJT','DURING-OJT','POST-OJT') NOT NULL,
  `is_required` enum('YES','NO') DEFAULT 'YES',
  `description` text DEFAULT NULL,
  `deadline` date DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`requirement_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirements`
--

LOCK TABLES `requirements` WRITE;
/*!40000 ALTER TABLE `requirements` DISABLE KEYS */;
/*!40000 ALTER TABLE `requirements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_documents`
--

DROP TABLE IF EXISTS `student_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_documents` (
  `studentID` varchar(20) NOT NULL,
  `idUpload` varchar(255) DEFAULT NULL,
  `regFormUpload` varchar(255) DEFAULT NULL,
  `status` enum('NOT UPLOADED','PENDING','APPROVED') DEFAULT 'NOT UPLOADED',
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `profilePicture` varchar(255) DEFAULT NULL,
  `rejectReason` varchar(100) DEFAULT NULL,
  `rejectNote` text DEFAULT NULL,
  PRIMARY KEY (`studentID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_documents`
--

LOCK TABLES `student_documents` WRITE;
/*!40000 ALTER TABLE `student_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_evaluations`
--

DROP TABLE IF EXISTS `student_evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_evaluations` (
  `evaluationID` int(11) NOT NULL,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `attendance_score` decimal(5,2) DEFAULT 0.00,
  `progress_score` decimal(5,2) DEFAULT 0.00,
  `task_score` decimal(5,2) DEFAULT 0.00,
  `final_grade` decimal(5,2) DEFAULT 0.00,
  `remarks` varchar(50) DEFAULT NULL,
  `date_generated` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`evaluationID`),
  KEY `studentID` (`studentID`),
  KEY `superID` (`superID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_evaluations`
--

LOCK TABLES `student_evaluations` WRITE;
/*!40000 ALTER TABLE `student_evaluations` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_progress`
--

DROP TABLE IF EXISTS `student_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_progress` (
  `progressID` int(11) NOT NULL,
  `studentID` varchar(20) NOT NULL,
  `required_hours` int(11) NOT NULL DEFAULT 500,
  `completed_hours` decimal(6,2) DEFAULT NULL,
  `remaining_hours` int(11) GENERATED ALWAYS AS (`required_hours` - `completed_hours`) STORED,
  `completion_status` enum('ONGOING','COMPLETED') DEFAULT 'ONGOING',
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `settingID` int(11) DEFAULT NULL,
  PRIMARY KEY (`progressID`),
  KEY `settingID` (`settingID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_progress`
--

LOCK TABLES `student_progress` WRITE;
/*!40000 ALTER TABLE `student_progress` DISABLE KEYS */;
INSERT INTO `student_progress` VALUES (1,'12345',500,16.00,484,'COMPLETED','2026-05-22 18:43:18',NULL),(2,'253535',500,16.00,484,'ONGOING','2026-04-24 06:33:26',NULL),(3,'1234557',500,23.00,477,'ONGOING','2026-04-24 06:33:52',NULL),(4,'2142143',500,24.00,476,'COMPLETED','2026-05-21 17:17:52',NULL),(5,'55434634',500,0.00,500,'ONGOING','2026-05-02 02:15:09',NULL),(6,'66453455',500,0.15,500,'ONGOING','2026-05-20 10:28:05',NULL),(7,'54321',500,0.82,499,'ONGOING','2026-05-23 05:24:58',NULL),(8,'GC-456712',700,0.17,700,'ONGOING','2026-05-24 14:22:29',NULL);
/*!40000 ALTER TABLE `student_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_reports`
--

DROP TABLE IF EXISTS `student_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_reports` (
  `reportID` int(11) NOT NULL,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `stageID` int(11) DEFAULT NULL,
  `report_type` enum('ORIENTATION_REPORT','WEEKLY_REPORT','STAGE_REPORT','FINAL_REPORT') NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `content` text DEFAULT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `rating` varchar(5) DEFAULT NULL,
  `supervisor_feedback` text DEFAULT NULL,
  `STATUS` enum('PENDING','REVIEWED','APPROVED','REJECTED') DEFAULT 'PENDING',
  `submitted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reviewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`reportID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_reports`
--

LOCK TABLES `student_reports` WRITE;
/*!40000 ALTER TABLE `student_reports` DISABLE KEYS */;
INSERT INTO `student_reports` VALUES (1,'12345',1,1,'ORIENTATION_REPORT','Orientation Report','I learned so much!','report_1779553115.pdf',NULL,NULL,'PENDING','2026-05-23 16:18:35',NULL),(2,'12345',1,1,'ORIENTATION_REPORT','Orientation Report','Learned so much during the trainnign!','report_1779553170.pdf',NULL,NULL,'PENDING','2026-05-23 16:19:30',NULL);
/*!40000 ALTER TABLE `student_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_requirement_files`
--

DROP TABLE IF EXISTS `student_requirement_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_requirement_files` (
  `file_id` int(11) NOT NULL,
  `studentID` varchar(20) NOT NULL,
  `requirement_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `status` enum('NOT UPLOADED','PENDING','APPROVED','REJECTED') DEFAULT 'NOT UPLOADED',
  `reject_reason` varchar(255) DEFAULT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`file_id`),
  KEY `requirement_id` (`requirement_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_requirement_files`
--

LOCK TABLES `student_requirement_files` WRITE;
/*!40000 ALTER TABLE `student_requirement_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_requirement_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_self_tasks`
--

DROP TABLE IF EXISTS `student_self_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_self_tasks` (
  `selfTaskID` int(11) NOT NULL AUTO_INCREMENT,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `hours_spent` int(11) DEFAULT 0,
  `activity_date` date NOT NULL,
  `attachment_file` varchar(255) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  `supervisor_feedback` text DEFAULT NULL,
  `date_created` timestamp NOT NULL DEFAULT current_timestamp(),
  `date_reviewed` timestamp NULL DEFAULT NULL,
  `date_updated` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`selfTaskID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_self_tasks`
--

LOCK TABLES `student_self_tasks` WRITE;
/*!40000 ALTER TABLE `student_self_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_self_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_supervisor`
--

DROP TABLE IF EXISTS `student_supervisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_supervisor` (
  `assignmentID` int(11) NOT NULL,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `assigned_by` int(11) NOT NULL,
  `status` enum('ACTIVE','REMOVED','COMPLETED') DEFAULT 'ACTIVE',
  `date_assigned` timestamp NOT NULL DEFAULT current_timestamp(),
  `date_updated` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`assignmentID`),
  KEY `studentID` (`studentID`),
  KEY `superID` (`superID`),
  KEY `assigned_by` (`assigned_by`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_supervisor`
--

LOCK TABLES `student_supervisor` WRITE;
/*!40000 ALTER TABLE `student_supervisor` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_supervisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_tasks`
--

DROP TABLE IF EXISTS `student_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_tasks` (
  `taskID` int(11) NOT NULL AUTO_INCREMENT,
  `studentID` varchar(20) NOT NULL,
  `superID` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('NOT STARTED','IN PROGRESS','SUBMITTED','APPROVED','REJECTED') DEFAULT 'NOT STARTED',
  `submission_file` varchar(255) DEFAULT NULL,
  `student_note` text DEFAULT NULL,
  `supervisor_feedback` text DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `date_created` timestamp NOT NULL DEFAULT current_timestamp(),
  `date_updated` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`taskID`),
  KEY `studentID` (`studentID`),
  KEY `superID` (`superID`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_tasks`
--

LOCK TABLES `student_tasks` WRITE;
/*!40000 ALTER TABLE `student_tasks` DISABLE KEYS */;
INSERT INTO `student_tasks` VALUES (1,'2142143',1,'Submit Weekly Reports','Do it thoroughly!','NOT STARTED',NULL,NULL,NULL,'2026-06-15','2026-05-30 07:01:02',NULL,NULL),(18,'GC-456712',1,'Congression Phase','Do what you gotta do!','NOT STARTED',NULL,NULL,NULL,'2026-05-31','2026-05-30 07:37:50',NULL,NULL),(19,'253535',1,'Congression Phase','Do what you gotta do!','NOT STARTED',NULL,NULL,NULL,'2026-05-31','2026-05-30 07:37:50',NULL,NULL),(20,'12345',1,'Congression Phase','Do what you gotta do!','NOT STARTED',NULL,NULL,NULL,'2026-05-31','2026-05-30 07:37:50',NULL,NULL);
/*!40000 ALTER TABLE `student_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisor`
--

DROP TABLE IF EXISTS `supervisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supervisor` (
  `superID` int(11) NOT NULL,
  `name` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `number` varchar(20) NOT NULL,
  `department` varchar(100) NOT NULL,
  `date_created` timestamp NOT NULL DEFAULT current_timestamp(),
  `userID` int(11) DEFAULT NULL,
  `company_name` varchar(255) NOT NULL,
  `position` varchar(255) NOT NULL,
  PRIMARY KEY (`superID`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `userID` (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisor`
--

LOCK TABLES `supervisor` WRITE;
/*!40000 ALTER TABLE `supervisor` DISABLE KEYS */;
INSERT INTO `supervisor` VALUES (1,'Bruce Wayne','honda@gmail.com','09234534561','IT','2026-04-16 09:38:50',NULL,'Granby','Coordinator'),(2,'charles mandarin','charles@gmail.com','09125123125','IT','2026-05-02 01:30:08',NULL,'Granby','Coordinator'),(3,'josuhes viltrumite','born@gmail.com','09124512312','IT','2026-05-02 02:21:05',NULL,'Granby','Coordinator'),(5,'Amirah Eco','ecoamirah326@gmail.com','09215612553','IT','2026-05-09 16:42:01',NULL,'Concentrix Momentorium Manila Branch','Coordinator');
/*!40000 ALTER TABLE `supervisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `userID` int(11) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `mobileNumber` varchar(11) DEFAULT NULL,
  `isVerified` enum('VERIFIED','NOT VERIFIED','PENDING') NOT NULL DEFAULT 'NOT VERIFIED',
  `status` enum('ACTIVE','INACTIVE','SUSPENDED') NOT NULL DEFAULT 'ACTIVE',
  `role` enum('ADMIN','student','supervisor') NOT NULL DEFAULT 'student',
  `dateCreated` timestamp NOT NULL DEFAULT current_timestamp(),
  `studentID` varchar(20) DEFAULT NULL,
  `superID` int(11) DEFAULT NULL,
  `rfid_uid` varchar(50) DEFAULT NULL,
  `rfid_status` enum('Registered','Not Registered') DEFAULT 'Not Registered',
  `mustChangePassword` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `studentID` (`studentID`),
  UNIQUE KEY `superID` (`superID`),
  UNIQUE KEY `rfid_uid` (`rfid_uid`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warning_logs`
--

DROP TABLE IF EXISTS `warning_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warning_logs` (
  `warningID` int(11) NOT NULL,
  `studentID` varchar(20) DEFAULT NULL,
  `warning_type` varchar(50) DEFAULT NULL,
  `sent_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`warningID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warning_logs`
--

LOCK TABLES `warning_logs` WRITE;
/*!40000 ALTER TABLE `warning_logs` DISABLE KEYS */;
INSERT INTO `warning_logs` VALUES (1,'12345','INACTIVE_ATTENDANCE','2026-05-20 14:55:55'),(2,'2142143','INACTIVE_ATTENDANCE','2026-05-20 14:55:59'),(3,'253535','INACTIVE_ATTENDANCE','2026-05-20 14:56:04'),(4,'12345','OVERDUE_TASK','2026-05-20 14:56:08'),(5,'2142143','OVERDUE_TASK','2026-05-20 14:56:12');
/*!40000 ALTER TABLE `warning_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-06  7:13:05
