*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
/* outline: 1px solid red; */
}

body{
    background: linear-gradient(
        135deg,
        #e6f0ff 0%,   
        #dbeafe 50%,  
        #bfdbfe 100%  
    );
}

/* Variables */
:root {
    --bg-primary: #F5FAFF;
    --sec-primary: #EDF6FF;

    --primary: #2563EB;
    --dark: #1E90FF;
    --light: #f9fafb; /* #0F2D02*/

    --pri-button: #1D4ED8;
    --pri-button-sub: #DBEAFE;

    --sign-button : #F97316;
    --sign-button-sub : #f76700;

    --approved-color : #22c55e;
    --approved-color-sub : #02c74a;

    --front-text : #111827
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:var(--primary);
color:white;
margin-left: 105px;
transition: margin-left 0.9s ease;
width: 100%;
position: fixed;
margin-left: 0; 
}

.navbar.shifted{
    margin-left: 230px;
}

#menuToggle {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
    cursor: pointer;
}

.profile-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.2s ease;
}

.profile-menu:not([hidden]) {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.profile-menu a {
    padding: 15px 15px;
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

.profile-menu a:hover {
    background: #f1f1f1;
}

/* LAYOUT */

.layout{
display:flex;
min-height:90vh;
}

/* SIDEBAR */

.sidebar{
    position: fixed; /*fixed*/
    top: 0;
    bottom: 0;
    left: 0; /*Right*/
    width: 105px;
    height: 100%;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.8s linear;
    background: var(--primary);
    z-index : 1;
}

.sidebar:hover{
    width: 230px;
}
.sidebar:hover ~ .content{
    margin-left: 230px;
}

.sidebar ul{
    top: 15%;
    height: 70%;
    list-style: none;
    position: relative;
    padding: 0;
}

.menu li, .menu li i{
    background: transparent;
    overflow: hidden;
    padding: 0.4rem;
    margin: 10% 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu li.active {
    background: var(--pri-button-sub);
}

.menu li.active button,
.menu li.active a,
.menu li.active i {
    color: var(--front-text);
}

.menu li:hover {
    background: var(--pri-button-sub);
}

.menu li:hover button,
.menu li:hover a,
.menu li:hover i {
    color: var(--front-text);
}

.menu li button, .menu li a{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--light);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
}

.menu i, .menu a i{
    font-size: 1.2rem;
}

/* CONTENT */

.content{
flex:1;
padding:40px;
margin-left: 105px;
margin-top: 70px;
transition: margin-left 0.9s ease;
}

.page-header{
margin-bottom:30px;
}

/* FOOTER */

.footer{
    text-align:center;
    padding:20px;
    background:#eee;
    width: 100%;
    margin-top: auto;
}